<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Guardar</button>
	<button >Cancelar</button>
</form>
</body>
</html>