<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="" method="post">
	{% csrf_token %}
	<h1>¿ Desea eliminar ? {{ auto.modelo }} </h1>
	<button type="submit">Aceptar</button>
	<button ><a href="/auto/listar">Cancelar</a></button>
</form>
</body>
</html>