<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<button ><a href="/">Inicio</a></button>
	<button ><a href="/auto/registrar">Registrar</a></button>
	
	<table border="2">
		<thead>
			<tr>
				<td>modelo</td>
				<td>color</td>
				<td>matricula</td>
				<td>Editar</td>
				<td>Eliminar</td>
			</tr>
		</thead>
		<tbody>
			{% for auto in autos %}
			<tr>
				<td> {{ auto.modelo }} </td>
				<td> {{ auto.color }} </td>
				<td> {{ auto.matricula }} </td>
				<td><a href="/auto/editar/{{ auto.id }}">Editar</a></td>
				<td><a href="/auto/eliminar/{{ auto.id }}">Eliminar</a></td>
			</tr>
			{% endfor %}
		</tbody>	
	</table>
</body>
</html>